*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 400;
}

html {
  /* setting default font size to 8px */
  /* font-size: 50%;  */
  scroll-behavior: smooth;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body {
  background-color: #f4f4f4;
}

header {
  max-width: 960px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#links {

}
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #15B3A6;
}

main {
  max-width: 960px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#aside-container{
  flex-direction: column;
}

aside .container {
  flex-direction: column;
  margin: 20px;
}


.aside {
}

footer {
  text-align: center;
  max-width: 960px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}