/* ----- Reset and Common Styles ----- */
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-weight: 400;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 50%; /* setting default font size to 8px */
  scroll-behavior: smooth;
}

body {
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 6rem 0;
  background-color: #fff;
  flex-direction: column;
}

.section-heading {
  font-size: 5rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 6rem;
  border-bottom: 0.3rem solid #333;
  text-shadow: 0.2rem 0.2rem 0.5rem #555;
}

@keyframes flicker {
  0% {
    opacity: 0.90;
  }
  40% {
    opacity: 0.95;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0.90;
  }
}
/* ----- End of Reset and Common Styles ----- */

/* ==========================================================================
  Mobile Styles
  ========================================================================== */

/* ----- Navbar ----- */
.navbar {
  width: 100%;
  padding: 1rem 0;
  background-color: #15B3A6;
  box-shadow: 0.2rem 0.2rem 0.5rem #555;
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar-link {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  margin: 0 1.5rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3rem;
  position: relative;
  transition: color 0.2s;
}

.change.navbar-link {
  color: #333;
}

.navbar-link:hover {
  color: #333;
}

.navbar-link::before {
  content: "";
  width: 0;
  height: 0.2rem;
  background-color: #333;
  position: absolute;
  right: -15%;
  bottom: -0.3rem;
  transition: width 0.2s;
}

.change.navbar-link::before { 
  width: 130%;
}
  
.navbar-link:hover::before { 
  width: 130%;
}
/* ----- End of Navbar ----- */

/* ----- About Section ----- */
.about-section {
  padding-top: 8rem;
  background: 
    linear-gradient(
    rgba(238, 238, 255, .2),
    rgba(238, 238, 255, .1)), 
    url(assets/img/bg.png) center no-repeat;
  background-size: cover;
}

.about-heading,
.thanks-heading {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.about-heading {
  margin-bottom: 6rem;
  font-family: "Neoneon";
  font-size: 8rem;
  font-weight: 400;
  color: #15B3A6;
  text-shadow: 0 0 1rem #15B3A6, 0 0 3rem #15B3A6, 0 0 4rem #15B3A6; /* Neon glow effect */
  animation: flicker 1s infinite alternate; /* Neon flicker animation */
}

.thanks-heading {
  font-size: 5rem;
  letter-spacing: 1rem;
  border-bottom: none;
  margin-bottom: 8rem;
  padding: 0 3rem;
  color: #fff;
  background-color: #15B3A6;
  border-bottom: 0.3rem solid #fff;
  text-shadow: 0.2rem 0.2rem 1rem #555;
  transform: skew(-10deg);
}

#not-mobile {
  display: none;
}

#mobile-top {
  margin-bottom: 2rem;
}

.about-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.about-description {
  width: 90%;
  font-size: 2.2rem;
  color: #eee;
  display: flex;
  flex-direction: column;  
}

.about-description p {
  margin-bottom: 5rem;
  text-align: justify;
}

.dev-icons-wrapper {
  width: 90%;
  flex-flow: row wrap;
}

.dev-icon,
.dev-img {
  max-width: 4rem;
  padding: 0 2rem;
  margin: 2rem 3rem;
  display: flex;
  justify-content: center;
}

.dev-icon i {
  font-size: 5rem;
  color: #15B3A6;
}

.icon-item {
  width: 4.5rem;
}
/* ----- End of About Section ----- */

/* ----- Portfolio Section ----- */
.portfolio-section {
  background-color: #eef;
  flex-direction: column;
}

.portfolio-wrapper {
  width: 90%;
  flex-wrap: wrap;
}

.portfolio {
  max-width: 40rem;
  max-height: 25rem;
  margin: 1rem;
  background-color: #fff;
  box-shadow: 0.3rem 0.3rem 0.5rem #777;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.5s;
}

.portfolio:hover {
  box-shadow: 1rem 1rem 1rem #777;
}

.portfolio-text {
  text-align: center;
  letter-spacing: 0.1rem;
  position: absolute;
  top: -10rem;
  z-index: 10;
}

.portfolio:hover .portfolio-text {
  top: 5rem;
  transition: top 0.3s 0.3s;
}

.portfolio-name {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  text-transform: capitalize;
}

.portfolio-tech {
  font-size: 1.8rem;
  font-weight: 500;
  color: #15B3A6;
}

.portfolio-img {
  width: 40rem;
  height: 25rem;
  object-fit: cover;
  transition: opacity 0.3s;
}

.portfolio:hover .portfolio-img {
  opacity: 0.2;
}

.portfolio-button {
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
  text-align: center;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  padding: 0 1rem;
  background-color: #fff;
  border: .3rem solid #15B3A6;
  position: absolute;
  bottom: -5rem;
}

.portfolio:hover .portfolio-button {
  bottom: 5rem;
  transition: bottom 0.3s 0.3s;
}
/* ----- End of Portfolio Section ----- */

/* ----- Contact Section ----- */
.contact-section {
  background-color: #333;
  justify-content: space-evenly;
}

.contact-section .section-heading {
  color: #fff;
  border-color: #fff;
  text-shadow: none;
}

.contact-section #statement {
  font-size: 2rem;
  color: #15B3A6;
  text-align: center;
  letter-spacing: .5rem;
  padding-bottom: 2rem;
}

.contact-form {
  width: 80%;
  max-width: 50rem;
  flex-direction: column;
}

.contact-form input, 
.contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 0.8rem 0;
  background-color: #eef;
  border: 0.2rem solid #15B3A6;
  font-size: 2rem;
  color: #555;
}

.contact-form textarea {
  min-height: 25rem;
  max-width: 100%;
  min-width: 100%;
}

.bot {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.2rem;
  text-align: center;
  margin: .5rem;
}

.contact-form .contact-button,
.thank-you-button {
  font-size: 1.5rem;
  color: #fff;
  background-color: #15B3A6;
  text-transform: uppercase;
  letter-spacing: 1rem;
  cursor: pointer;
}
/* ----- End of Contact Section ----- */

/* ----- Footer Section ----- */
.footer-wrapper {
  width: 100%;
  padding: 5rem 0;
  background: #222;
  flex-direction: column;
}

.social-media {
  margin-bottom: 3rem;
}

.social-icon {
  border-radius: .5rem;
  background-color: #15B3A6;
  margin: 0 2rem;
  padding: .7rem;
  display: inline-block;
}

.social-icon i {
font-size: 4rem;
color: #fff;
}

.resume {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #15B3A6;
  background-color: #333;
  border: .3rem solid #15B3A6;
  border-radius: .5rem;
  padding: 0.5rem 3rem;
  margin-bottom: 5rem;
  letter-spacing: 0.3rem;
}

.copyright-wrapper {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  text-align: center;
  flex-direction: column;
}

.copyright {
  margin-bottom: 2rem;
}

.logo {
  width: 5rem;
}

/* ----- End of Footer Section ----- */

/* ----- Thank You Page ----- */

.thanks-wrapper {
  width: 80%;
  flex-direction: column;
  margin-bottom: 5rem;
}

.thanks-text {
  font-size: 2.3rem;
  color: #333;
  text-align: justify;
  margin-bottom: 5rem;
}

.dance-gif {
  width: 80%;
}

.thanks-button {
  font-size: 2.2rem;
  font-weight: 700;
  color: #333;
  background-color: #fff;
  border: .5rem solid #15B3A6;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
/* ----- End of Thank You Page ----- */

/* ==========================================================================
  Media Queries for Responsive Design
  ========================================================================== */

@media screen and (min-width: 768px) {
  /**** TABLET STYLES ****/
  
  html {
    font-size: 62.5%; /* setting default font size to 10px */
  }
  
  .section-heading {
    font-size: 5rem;
  } 
  
  .navbar-link {
    font-size: 1.7rem;
    margin: 0 3rem;
  }
  
  .about-section {
    padding-top: 4rem;
  } 
  
  .about-heading,
  .thanks-heading {
    font-size: 5rem;
    margin: 5rem 0;
  }
  
  #not-mobile {
    display: initial;
  }
  
  #mobile-top,
  #mobile-bottom {
    display: none;
  }
  
  .about-wrapper {
    margin-bottom: 3rem;
  }
  
  .about-description {
    font-size: 1.8rem;
  }
  
  .about-description p {
    margin-bottom: 3rem;
  }
  
  .dev-icons-wrapper {
    width: 70%;
  }

  .dev-icon i {
    font-size: 6rem;
  }
  
  .icon-item {
    width: 5.3rem;
  }
  
  .portfolio {
    width: 47%;
  }
  
  .contact-section #statement {
    font-size: 1.8rem;
    line-height: 2rem;
    padding-bottom: 1rem;
  }
  
  .contact-section #statement br {
    display: none;
  }
  
  .contact-form input, 
  .contact-form textarea {
    margin: 0.5rem 0;
    font-size: 1.8rem;
  }
  
  .footer-wrapper {
    padding: 5rem 0;
  }
  
  .dance-gif {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  /**** DESKTOP STYLES ****/
  
  .about-section {
    padding-top: 2rem;
  } 
  
  .about-heading {
    font-size: 10rem;
  }
  
  .about-heading {
    margin-bottom: 4rem;
  }
  
  .about-wrapper {
    margin-bottom: 2rem;
  }
  
  .about-description {
    width: 80%;
    font-size: 2rem;
  }
  
  .dev-icons-wrapper {
    width: 80%;
  }
  
  .dev-icon,
  .dev-img {
    max-width: 10rem;
    padding: 0 3rem;
    margin: 2rem 3rem;
  }
  
  .dev-icon i {
    font-size: 10rem;
  }
  
  .icon-item {
    width: 9rem;
  }
  
  .portfolio {
    width: auto;
  }
  
  .contact-form input, 
  .contact-form textarea {
    font-size: 1.5rem;
  }
  
  .contact-form textarea {
    min-height: 20rem;
  }
  
  .thanks-section {
    padding-top: 5rem;
  }
  
  .thanks-wrapper {
    justify-content: space-around;
    flex-flow: row wrap;
  }
  
  .thanks-text,
  .gif-wrapper {
    width: 45%;
  }
  
  .dance-gif {
    width: 60%;
  }  
}